<p>
  Album:
  <%= link_to @track.album.name, @track.album %>
</p>
<p>
  Name:
  <%= @track.name %>
</p>
<p>
  Kind:
  <%= @track.kind %>
</p>
<p>
  Lyrics:
</p>
<%= ugly_lyrics(@track.lyrics) %>

<h3>Notes</h3>
<% @track.notes.each do |note| %>
  <%= render 'notes/note', note: note %>
<% end %>

<%= link_to "Edit", edit_track_url(@track) %>
<%= link_to "Destroy", @track, method: "delete" %>

<%= render "notes/form", track: @track %>
