<p>
  Album:
  <%= link_to @track.album.name, @track.album %>
</p>
<p>
  Name:
  <%= @track.name %>
</p>
<p>
  Kind:
  <%= @track.kind %>
</p>
<p>
  Lyrics:
</p>
<div class="well">
  <%= ugly_lyrics(@track.lyrics) %>
</div>

<h3>Notes</h3>
<% @track.notes.each do |note| %>
  <%= render 'notes/note', note: note %>
<% end %>

<%= link_to "Edit", edit_track_url(@track), class: "btn btn-info" %>
<%= link_to "Destroy", @track, method: "delete", class: "btn btn-danger" %>

<%= render "notes/form", track: @track %>
