<!DOCTYPE html>
<html>
<head>
  <title>MusicApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to "MusicApp", bands_url, class: "navbar-brand" %>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
        <li><%= link_to "Bands", bands_url %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.email %><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Profile", user_url %></li>
            <li><%= link_to "Logout", sessions_destroy_url, method: "delete" %></li>
          </ul>
        </li>
        <% else %>
          <li><%= link_to "Login", new_session_url %></li>
          <li><%= link_to "Sign Up", new_user_url %></li>
        <% end %>
      </ul>
    </div>
  </nav>

  <div class="container">

    <% if flash[:info] %>
      <div class="alert alert-info" role="alert">
        <ul>
          <% flash[:info].each do |info| %>
            <li><%= info %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <% if flash[:errors] %>
      <div class="alert alert-danger" role="alert">
        <ul>
          <% flash[:errors].each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <% if flash[:email] && flash[:email][:user_id] %>
      <div class="alert alert-info" role="alert">
        <%= flash[:email][:message] %>
        <%= button_to "Resend email", resend_user_url(flash[:email][:user_id]), class: "btn btn-default" %>
      </div>
    <% end %>

    <%= yield %>
  </div>
</body>
</html>
